bottle==0.13.4
packaging==26.2
proxy_tools==0.1.0
PyQt6==6.11.0
PyQt6-Qt6==6.11.1
PyQt6-WebEngine==6.11.0
PyQt6-WebEngine-Qt6==6.11.1
PyQt6_sip==13.11.1
pywebview==6.2.1
QtPy==2.4.3
typing_extensions==4.16.0
